@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');

body{
    height: 100%;
}

h1 {
    text-align: center;
    padding: 25px;
    font-family: Papyrus, serif;
    font-weight: bold;
    background-color: rgb(255, 241, 211);
    margin: 0;
}

h2 {
    text-align: center;
    font-family: "Comic Sans MS", serif;
}

aside {
    background-color: rgb(255, 241, 211);
    top: 0;
    position: fixed;
    height: 100vh;
    width: 250px;
    border-right: 1px solid rgb(235, 237, 239);
    padding: 20px;

}
.contenidoAside{
    margin-top: 150px;
}

.header {
    background-color: rgb(255, 241, 211);
}

.boton {
    margin-top: 10px;
    float: right;
    margin-bottom: 20px;
    margin-right: 20px;
}

hr {
    clear: right;
    padding: 0;

}

.container-fluid {
    margin: 0;
    padding: 0;
    height: 100%;
}
/*
.cuerpo {
    margin-left: 300px;
}
*/
table {
    margin: 30px 0 30px 30px;
}

td, th {
    border: 1px solid black;
    padding: 10px;
}

th {
    text-align: center;
    background-color: rgb(255, 241, 211);
}

.tr_producto:hover {
    cursor: pointer;
    background-color: rgba(207, 207, 207, 0.22);
}

.centrado {
    text-align: center;
}

.nav-link {
    color: black;
}

input {
    border-radius: 5px;
    border: 1px solid black;
}

.inputPedir {
    width: 50px;
    text-align: center;
}

.select_servicio {
    margin: 30px 0 0 30px;
}

.error {
    color: rgba(255, 0, 0, 0.83);
}

.icono {
    width: 30px;
    text-align: center;
}

.botonAñadirProducto {
    margin-left: 30px;
    margin-top: 30px;
}

.fondo {
    background-color: rgb(255, 241, 211);
    height: 100vh;
}

.caja {
    background-color: white;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.44);
    border-radius: 5px;
    padding: 20px;
}

.labelNuevoProducto {
    margin-top: 15px;
}

.botonAñadir {
    margin: 20px;
    width: 100px;
    height: 40px;
}

.botonAñadir:hover {
    background-color: #bfffa4;
}

textarea {
    resize: none;
    border-radius: 5px;
}

.selectTipoProducto,
.selectCategoria,
.selectTipoProducto {
    width: 200px;
}

.botones {
    margin: 30px;
}

img {
    width: 100px;

    border-radius: 5px;
}

.total {
    margin-left: 30px;
    margin-top: 10px;
}

.enLinea {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 30px;
}

.linkBoton {
    color: black;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1px 5px 1px 5px;
    background-color: #F0F0F0;
}

input[type="submit"]:hover {
    background-color: #e1e1e1;
}

h4 {
    margin-top: 20px;
}

.tr_pedido {
}

.linkTitulo {
    color: black;
    text-decoration: none;
}

.footer {
    bottom: 0;
    background-color: rgb(255, 241, 211);
    height: 200px;
    width: 100%;
    border-top: 1px solid rgb(235, 237, 239);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer ul {
    list-style-type: none;
}
.footer li{
    margin: 10px;
}
